.mainDiv{
    height: 500px;
    width: 500px;
    border:1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;
    align-items: center;
}
.item{
    height: 100px;
    width: 100px;
    background-color: red;
    font-size: 32px;
    color: white;
    border: 1px solid white;
    
}